<div>
  <form [formGroup] = "uploadForm" (ngSubmit)="onSubmit()">
    <div>
      Archive de subido: <input type="file" name="upfile" (change)="onFileSelect($event)"  style="width: 400px">
    </div>
    <br/>
    <div>
      <mat-select>
        <mat-option *ngFor="let lang of languages" [value]="lang.value">
          {{lang.viewValue}}
        </mat-option>
      </mat-select>
    </div>
    <br/>
    <div>
      Notas sobre el archivo: <input type="text" formControlName="notas">
    </div>
    <br/>
    <button type="submit">Upload</button>
  </form>
</div>